<div>
    <app-spinner *ngIf="spinner"></app-spinner>
</div>
<div #hide class="body_main">
    <div class="header">
        <form [formGroup]="LoginForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="email" for="email">Email</label>
                        <input class="email_input" type="email" id="email" name="email" formControlName="email"><br><br>
                    </div>
                    <div class="col-md-4">
                        <label class="password " for="password">password</label>
                        <input type="password" id="password" name="password" formControlName="password"><br>
                    </div>
                </div>
                <button class="login" type="submit" (click)="Login()">Log in</button>
            </div>
            <a href="">
                <p class="forgotten_account">Forgotten account?</p>
            </a>
        </form>
    </div>
    <div class="body">
        <h1 class="font-weight-bold" style="font-weight: 600;">Create an account</h1>

        <p style="font-size: 20px;">it's free and always will be.</p>

        <form [formGroup]="SignUpForm">
            <div class="form-group field">
                <div class="form-row">
                    <div class="col-md-5 mb-5">
                        <input class="form-control" type="text" id="fname" name="fname" placeholder="First Name"
                            style="border-radius: 40px;">
                    </div>
                    <div class="col-md-5 mb-5">
                        <input class="form-control" type="text" id="lname" name="lname" placeholder="Last Name"
                            style="border-radius: 40px;"><br>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-10 mb-10">
                        <input class="form-control" type="email" id="email" name="email" placeholder="Email"
                            formControlName="email_new" style="border-radius: 40px;"><br>
                    </div>
                    <div class="col-md-10 mb-10">
                        <input class="form-control" type="password" id="password" name="password"
                            placeholder="New password" formControlName="password_new" style="border-radius: 40px;"><br>
                    </div>
                </div>
            </div>
            <div class="birthDay">
                <h3>Birthday</h3>
                <input type="date"><a href="#"> Why do i need to provide my date of birth?</a><br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                    <label for="male">Female</label>
                    <input type="radio" name="gender" id="male" value="female">
                    <label class="form-check-input" for="female">Male</label><br>
                </div>
                <p>By clicking create an account you agree to our <a>terms</a> and that <br> you have read our <a>Data
                        Policy</a> including our <a>cookie use</a></p><br>
                <button class="btn btn-success btn-lg" (click)="SignUp()">Create an account</button><br><br>
                <p><a>Create a </a> page for a celebrity, band or business</p>
            </div>
        </form>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>